body {
    background: url(https://i.pinimg.com/564x/11/19/e4/1119e432699cdf1839a89fe90e691139.jpg);
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}